/* styles/globals.css */

.data-value {
  color: black;
}

body{
  margin:0;
  background: #fcfafa;
  color: rgb(6, 13, 7);
}

.navbar{
  background:  rgb(91, 154, 255);
  padding:  20px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}

/* Navbar.css 파일 또는 전역 CSS 파일에 추가 */
.navbar-custom .navbar-nav .nav-link {
color: white !important; /* 텍스트 색상을 흰색으로 변경 */
}

.navbar-custom .navbar-brand {
color: white !important; /* 브랜드 텍스트 색상을 흰색으로 변경 */
}

/* globals.css */
.container {
padding-top: 100px; /* Navbar의 높이에 맞게 조절 */
}

.chart-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw; /* 창 너비의 1/3 */
  height: 50vh; /* 창 높이의 1/3 */
}

.chart-container {
  width: 50%;
  height: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f8ff; /* 파랑색 */
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #0074d9; /* 파랑색 */
  color: #fff; /* 흰색 */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabs button.active {
  background-color: #fff; /* 흰색 */
  color: #0074d9; /* 파랑색 */
}

.tabs button:hover {
  background-color: #0056b3; /* 진한 파랑색 */
}
